alias es="exa -hHlSG --git"
alias cat="bat"
alias pip="pip3"
alias python="python3"
alias reload="source ~/.zshrc"

# Git
alias gd="git diff | bat"
alias gb="git branch | bat"
alias gdc="git diff --cached | bat"
alias gs="git status"
alias glo="git log --oneline --decorate --all --graph"

#rails
alias rs="rails server"
alias rc="rails console"
