alias es="exa -hHlSG --git"
alias cat="bat"
alias pip="pip3"
alias python="python3"
alias reload="source ~/.zshrc"

# Git
alias gd="git diff | bat"
alias gb="git branch | bat"
alias gdc="git diff --cached | bat"
alias gs="git status"
alias glo="git log --oneline --decorate --all --graph"

#rails
alias rs="rails server"
alias rc="rails console"

#tmux
alias tm0="tmux a -t 0"
alias tm1="tmux a -t 1"

#python
alias python="python3"
alias pip="pip3"

#vim
alias vim="nvim"
alias vi="nvim"

# ncdu
alias ncdug="ncdu --exclude-from .gitignore"
alias ncdud="ncdu --exclude-from .dockerignore"
